@charset "UTF-8";
h1 {
    margin-bottom: 26px;
}
p{
    text-align: justify;
    text-indent: 3em;
    margin: 16px 0;
    
}
.tb1 {
    display: flex;
    justify-content: center;
    height: 500.6px;
    width: 673.725px;
    margin: 20px auto;
}
table{
    border: 2px solid black;
    margin: 20px auto;
    border-collapse: collapse;
}
table ul{
    list-style: none;
    padding: 0;
}
table > thead{
    background-color: rgb(21, 21, 119);
    color: white;
}
table th{
    border: 2px solid black;
}
table td{
    padding: 7px;
    border: 2px solid black;
}
.alunos{
    width: 89px;
    text-align: center;
}
.padrinhos{
    text-align: center;
}
td#amarela{
    background-color: rgb(240, 240, 53);
    width: 200px;
    text-align: center;
}
td#laranja{
    background-color: rgb(243, 186, 80);
    text-align: center;
}
td#roxa{
    background-color: rgb(153, 43, 153);
    text-align: center;
}
td#verde{
    background-color: rgb(65, 155, 65);
    text-align: center;
}
td#vermelho{
    background-color: rgb(212, 74, 74);
    text-align: center;
}
.recado{
    font-size: 12px;
    margin-top: -20px;
    max-width: 800px;
    margin: -20px auto 20px auto;
}
.tabela1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
}
.curso{
    padding-right: 70px;
    max-width: 1200px;
}
.recado2{
    text-indent: 0;
    font-size: 12px;
    max-width: 500px;
    margin: -20px auto 20px auto;
}

@media (max-width: 800px) {
    .tb1 {
        height: 700.6px;
        width: 590.725px;
    }
}

@media (max-width: 700px) {
    .tb1 {
        height: 940.6px;
        width: 500.725px;
    }
}

@media (max-width: 600px) {
    .tb1 {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .tb1 {
        width: 250px;
    }
}