@charset "UTF-8";
*{
    margin: 0;
}
h1 {
    margin-bottom: 26px;
}
p{
    text-indent: 3em;
    margin: 16px 0;
}
ol{
    box-sizing: border-box;
    padding-left: 50px;
}
ol li{
    margin-bottom: 10px;
}