@charset "UTF-8";

:root {
  --c1: #133FBA;
  --c2: #FA8700;
  --c3: #1274ba;
  --c4: #e4e9f7;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

*{
    margin: 0;
}

h1 {
    margin-bottom: 26px;
}

h2 {
    margin: 26px 0;
}

p{
    margin: 16px 0;
}

.ref {
  display: flex;
  flex-direction: column;
}

.noite {
    box-sizing: border-box;
    padding-left: 50px;
    margin-bottom: 20px;
}

.noite li{
    margin-top: 10px;
}

/*test*/
