@charset "UTF-8";
*{
    margin: 0;
}
h1 {
    margin-bottom: 26px;
}
p{
    text-indent: 3em;
    margin: 16px 0;
}
table{
    border: 2px solid black;
    margin: 20px auto;
    border-collapse: collapse;
    max-width: 600px;
}
table td{
    padding: 7px;
    border: 2px solid black;
}
table ul{
    padding-left: 40px;
    box-sizing: border-box;
}
.etapa{
    align-items: start;
    border: 0;
    border-bottom: 2px solid black;

}
.etapa strong{
  height: 20px;
}
.list{
    width: 450px;
}