@charset "UTF-8";

h1 {
  margin-bottom: 26px;
}
a {
  color: black;
  text-decoration: none;
}

.obs {
  box-sizing: border-box;
  padding-left: 50px;
  margin-bottom: 20px;
}

.obs li{
  margin-top: 10px;
}

.c1 {
  text-align: center;
  margin-top: 50px;
}

.a1 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}